@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  @apply tracking-widest;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #c2c7cf; /* Cambia el color de la fuente */
}

#root {
  width: 100vw;
}

html {
  @apply 2xl-custom:text-[1.33rem] lg:text-[0.9rem] xl:text-[0.71rem] 2xl:text-base 3xl-custom:text-[2rem];
}

body {
  background-color: #37361c;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  width: 100vw;
  min-height: 100dvh;
  @apply text-primary;
  overflow-x: hidden;
}

.cover {
  position: relative;
  overflow: hidden; /* asegura que el ::before no se salga */
  --bg-y: 0vh;
}

.cover::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/src/assets/bg/cover_bg.jpeg");
  background-size: cover;
  background-position: center;
  filter: brightness(30%) blur(2px);
  transform: translate3d(0, var(--bg-y), 0) scale(1.3); /* parallax */
  will-change: transform;
  z-index: -1; /* detrás del contenido */
  pointer-events: none;
}

@media (max-width: 768px) {
  .cover::before {
    transform: translate3d(0, var(--bg-y), 0) scale(1.4); /* parallax */
  }
}

.stroke-text {
  -webkit-text-stroke: 1px white; /* grosor y color del contorno */
  color: transparent; /* sin relleno */
}

#header.is-solid {
  mix-blend-mode: normal; /* deja de invertir */
  @apply text-primary;
}

#header.is-solid svg {
  fill: #c2c7cf;
}

#header {
  @apply transition-colors duration-300;
}
